<h1>Stars#new</h1>
<%= simple_form_for(@star) do |f| %>
  <%= f.input :name %>
  <%= f.input :category, collection: %w[actor model athlete singer pornstar influencer youtuber]%>
  <%= f.input :country %>
  <%= f.input :city %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
