<div class="show-card">
  <div class="star-card-image" style="background-image: url('')">
    <h2><%= @star.name %></h2>
    <p><%= @star.category %></p>
    <p><%= @star.country %></p>
    <p><%= @star.city %></p>
    <p><%= @star.price %></p>
</div>

<%= link_to 'Go back', root_path %>
<%# <%= link_to "Book '#{@star.name}'",  new_star_reservation_path %>
