
<br>
<br>
<br>

<div class="container" id="reservations-cards">
<% current_user.reservations.each do |reservation| %>
<%# <% raise %>
  <div class="notification">
    <div class="card-product">
      <%= cl_image_tag reservation.star.photo.key, class:"avatar-square"%>
      <div class="card-product-infos">
        <div class="notification-content">
        <h3><%= reservation.star.name %></h3>
        <p><small>Start date <%= reservation.start_time.day %>/<%= reservation.start_time.month %>/<%= reservation.start_time.year %>    Time: <%= reservation.start_time.hour %> hr <%= reservation.start_time.min %> min</small></p>
        <p><small><strong>End date <%= reservation.end_time.day %>/<%= reservation.end_time.month %>/<%= reservation.end_time.year %>    Time: <%= reservation.end_time.hour %> hr <%= reservation.end_time.min %> min</strong></small></p>
        </div>

      <div class="notification-actions">
      <a href=""><%= link_to "Edit",  edit_reservation_path(reservation), class: "link" %> <i class="fas fa-pencil-alt"></i></a>
      <a href="#"><%= link_to "Delete", reservation_path(reservation), method: :delete,
            data: { confirm: "Are you sure?" } %><i class="far fa-trash-alt"></i></a>
      </div>
    </div>
  </div>
</div>
<% end %>
