<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>



<div class="form-wrap">
    <div class="tabs">
      <h3 class="signup-tab"><a class="active" href="#signup-tab-content">Sign Up</a></h3>
      <h3 class="login-tab"><a href="#login-tab-content">Login</a></h3>
    </div><!--.tabs-->

    <div class="tabs-content">
      <div id="signup-tab-content" class="active">
        <form class="signup-form" action="" method="post">
          <input type="email" class="input" id="user_email" autocomplete="off" placeholder="Email">
          <input type="text" class="input" id="user_name" autocomplete="off" placeholder="Username">
          <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password">
          <input type="submit" class="button" value="Sign Up">
        </form><!--.login-form-->
        <div class="help-text">
          <p>By signing up, you agree to our</p>
          <p><a href="#">Terms of service</a></p>
        </div><!--.help-text-->
      </div><!--.signup-tab-content-->

      <div id="login-tab-content">
        <form class="login-form" action="" method="post">
          <input type="text" class="input" id="user_login" autocomplete="off" placeholder="Email or Username">
          <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password">
          <input type="checkbox" class="checkbox" id="remember_me">
          <label for="remember_me">Remember me</label>

          <input type="submit" class="button" value="Login">
        </form><!--.login-form-->
        <div class="help-text">
          <p><a href="#">Forget your password?</a></p>
        </div><!--.help-text-->
      </div><!--.login-tab-content-->
    </div><!--.tabs-content-->
  </div><!--.form-wrap-->
